= simple_form_for(url) do |f|
  = f.input :original_url,  as: :string, placeholder: 'Enter the URL',                        input_html: {value: url.original_url, class: 'form-control'}
  = f.input :short_url,     as: :string, placeholder: 'Enter the Desire URL for short link',  input_html: {value: url.short_url,    class: 'form-control'}
  = f.input :share_email,   as: :string, placeholder: 'Enter the Email',  input_html: {class: 'form-control'}
  .d-none
    = f.input :user_id, as: :string, input_html: {value: current_user.id}
    = f.input :id, as: :string, input_html: {value: url.id}
  %br
  = f.submit 'Share', class: 'btn btn-success'