.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
  %h5.my-0.mr-md-auto.font-weight-normal= link_to('URL generator', root_url)
  %nav.my-2.my-md-0.mr-md-3
    = link_to('Features',   'javascript:void(0)', class: 'p-2 text-dark')
    = link_to('Enterprise', 'javascript:void(0)', class: 'p-2 text-dark')
    = link_to('Support',    'javascript:void(0)', class: 'p-2 text-dark')
    = link_to('Pricing',    'javascript:void(0)', class: 'p-2 text-dark')
  = link_to('Sign up', 'javascript:void(0)', class: 'btn btn-outline-primary')